<ion-content>
    <ion-progress-bar color="success" type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
    <div id="map_canvas_2" [ngClass]="{ 'disabled-div': isLoading }">
        <div padding class="toolbar-wrapper">
            <ion-toolbar>
                <ion-buttons slot="start" class="mr-4">
                    <ion-icon name="list" (click)="toggleview()"></ion-icon>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button
                            *ngIf="!isSearchBarOpened"
                            (click)="isSearchBarOpened = true"
                    >
                        <ion-icon slot="icon-only" name="search"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-searchbar
                        *ngIf="isSearchBarOpened"
                        showCancelButton="true"
                        (ionCancel)="isSearchBarOpened = false"
                        [(ngModel)]="searchKeyword"
                        (keyup) = "searchLocations()"
                        (keyup.enter) = "searchLocations()"
                ></ion-searchbar>
            </ion-toolbar>
        </div>
    </div>
</ion-content>
