<ion-content class="content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backRoute"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <i class="far fa-map"></i>&nbsp;View Location
    </ion-title>
  </ion-toolbar>

  <div *ngIf="!isLoading" class="ion-padding-horizontal">
    <div class="image h-100 w-100">
      <img [src]="locationData?.imgUrl" *ngIf="locationData?.imgUrl" height="100%" width="100%">
      <img *ngIf="!locationData?.imgUrl" src="../../assets/img/img_loading.gif" height="100%" width="100%">
    </div>
    <ion-list class="recomendation">
      <ion-item class="ion-no-padding ion-text-center ion-no-margin">
        <ion-label style="font-size: 20px;font-weight: bold;" class="sensor-data-title ion-no-margin">Recommendation</ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <img src="../../assets/img/star_rating/{{ (locationData?.data.recommendation.rating).toString()+'.png' }}" width="35%" class="mx-auto d-block">
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-label class="ion-text-wrap sensor-data text-center">
          <p class="sensor-reading" *ngIf="locationData?.data.recommendation.text">{{ locationData?.data.recommendation.text }}</p>
          <p class="sensor-reading" style="color: #e57373;" *ngIf="!locationData?.data.recommendation.text">No recommendation text for this location.</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="recomendation user">
      <ion-item class="ion-no-padding ion-text-center ion-no-margin">
        <ion-label style="font-size: 20px;font-weight: bold;" class="sensor-data-title ion-no-margin">Shared By</ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap ion-activatable" (click)="viewUser(locationData?.data.userId)">
        <ion-label class="ion-text-wrap sensor-data text-center ion-no-margin">
          <h3 class="sensor-reading ion-no-margin ion-no-padding">{{ userName }}</h3>
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
    <ion-list class="sensed-data">
      <ion-item class="ion-margin-bottom ion-no-padding ion-text-center ">
        <ion-label style="font-size: 20px;font-weight: bold;" class="sensor-data-title ion-no-margin ion-margin-top">Details</ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-icon name="pin" slot="start" role="img" aria-label="home" class="icon-data"></ion-icon>
        <ion-label class="ion-text-wrap sensor-data">
          <h2>Location</h2>
          <p class="sensor-reading">{{ locationData?.data.location.address }}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let sensor of locationData?.data.sensorData" class="ion-text-wrap">
        <ion-icon name="{{ sensor.icon }}" slot="start" role="img" aria-label="home" class="icon-data"></ion-icon>
        <ion-label class="ion-text-wrap sensor-data">
          <h2>{{ sensor.displayName }}</h2>
          <p class="sensor-reading">{{ sensor.sensorReading }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="isLoading" class="ion-padding-horizontal">
    <div class="image">
      <img src="../../assets/img/img_loading.gif" height="100%" width="100%">
    </div>
    <ion-list class="recomendation">
      <ion-item class="ion-no-padding ion-text-center ion-no-margin">
        <ion-label style="font-size: 20px;font-weight: bold;" class="sensor-data-title ion-no-margin">Recomendation</ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <img src="../../assets/img/star_rating/loading.png" width="35%" class="mx-auto d-block">
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-label class="ion-text-wrap sensor-data text-center">
          <p class="sensor-reading">
            <ion-skeleton-text class="mx-auto d-block" animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text class="mx-auto d-block" animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text class="mx-auto d-block" animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="recomendation user">
      <ion-item class="ion-no-padding ion-text-center ion-no-margin">
        <ion-label style="font-size: 20px;font-weight: bold;" class="sensor-data-title ion-no-margin">Shared By</ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-label class="ion-text-wrap sensor-data text-center ion-no-margin">
          <h3 class="sensor-reading ion-no-margin ion-no-padding">
            <ion-skeleton-text class="mx-auto d-block" animated style="width: 60%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="sensed-data">
      <ion-item class="ion-margin-bottom ion-no-padding ion-text-center ">
        <ion-label style="font-size: 20px;font-weight: bold;" class="sensor-data-title ion-no-margin ion-margin-top">Details</ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-icon name="pin" slot="start" role="img" aria-label="home" class="icon-data"></ion-icon>
        <ion-label class="ion-text-wrap sensor-data">
          <h2>Location</h2>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item class="ion-text-wrap">
        <ion-icon name="search" slot="start" role="img" aria-label="home" class="icon-data"></ion-icon>
        <ion-label class="ion-text-wrap sensor-data">
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <p class="sensor-reading">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
