.content{
    height: 100%;
    background-image: url("../../assets/img/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "kiona";
}
.toolbar{
    font-family: 'kiona';
    color:#FFF;
    font-size: 12px;
}
.image img{
    border-radius: 10px!important;
}
.sensed-data{
    border-radius: 10px 10px 0 0;
    background-color:rgba(0,0,0,0.9);
  }
  .sensor-data-title , .sensor-data{
    font-family: 'poppins-regular';
    color: #FFF;
  }

.capture-loading-img{
  opacity:0.4!important;
}

ion-skeleton-text{
  --background-rgb: 255,255,255;
}

ion-icon {
  color: #FFFFFF;
}
.recomendation{
  background-color:rgba(0,0,0,0.9);
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top:3%;
}
ion-title{
  font-size: 18px;
}
