<ion-header>
    <ion-toolbar>
        <ion-title>Photo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isLoading" class="capture-loading-img-wrapper">
        <img src="../../../assets/img/capture_loading.gif" class="capture-loading-img" margin>
    </div>    <div class="operations-group">
        <ion-row>
            <ion-col text-right>
                <ion-icon class="sub-operations-btn" name="sync" (click)="switchCamera()" margin-vertical></ion-icon>
            </ion-col>
            <ion-col margin-horizontal>
                <div class="outer-circle ion-activatable" (click)="capture()">
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
            <ion-col>
                <ion-icon class="sub-operations-btn" name="flash" *ngIf="isRearCamOn && !isFlashOn"
                          (click)="toggleFlash()" margin-vertical></ion-icon>
                <ion-icon class="sub-operations-btn" name="flash-off" *ngIf="isRearCamOn && isFlashOn"
                          (click)="toggleFlash()" margin-vertical></ion-icon>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
