<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title text-center>-->
<!--      <i class="fas fa-map-marked-alt fa-500px"></i>&nbsp;&nbsp;Pick Location-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <div id="map_canvas" style="height: 100%; width: 100%">

  </div>
    <div class="location-data-wrapper">
        <h5 text-center class="mt-3"><i class="fas fa-map-marked-alt fa-500px"></i>Pick Your Location</h5>
        <p text-center class="mt-2" *ngIf="loading">Fetching Your Location...</p>
      <p text-center class="mt-2" *ngIf="!loading">{{ addressData }}</p>
      <button class="btn btn-primary w-100 set-location-btn p-2" (click)="setLocation()" [disabled]="loading"><i class="fas fa-street-view"></i>Set Location</button>
 </div>
</ion-content>
