.captured-image {
  width: 100vw;
  height: 100vw;
  z-index: 100!important;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  
}
ion-title, ion-back-button , .back-button-custom {
  font-size: 18px;
  color: #fff !important;
}
.share-button{
  color: #FFF !important;
}
.capture-loading-img-wrapper {
  width: 100vw;
  height: 100vw;
  background-image: url("../../../assets/img/capture_loading_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100!important;
}

.fa-500px ,.fas {
  margin-right: 10px;
}

.toolbar {
  font-family: "kiona";
}
.capture-loading-img {
  width: 60vw;
  height: 60vw;
  position: absolute;
  left: 0;
  right: 0;
  margin: 20vw auto;
  opacity: 0.4;
  z-index: 100!important;

}

.back-btn-customized {
  border-radius: 50% !important;
  span {
    border-radius: 50% !important;
    padding: 0 !important;
  }
  button {
    border-radius: 50% !important;
    padding: 0 !important;
  }
  ion-ripple-effect {
    border-radius: 50% !important;
  }
}

.back-btn-customized:hover {
  border-radius: 50% !important;
}

// sensor readings
.get-status-btn {
  //display: flex;
  //align-items: center;
  font-family: "kiona" !important;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  //float: left;
  color:#FFF;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold;
  margin-top: -20vw;
  margin-left: -15vw;
}

.get-status-btn-animate {
  -webkit-animation: r5 1s 0s ease-out infinite;
  -moz-animation: r5 1s 0s ease-out infinite;
  animation: r5 1s 0s ease-out infinite;
}

@-webkit-keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0.733), 0 0 0px 0px transparent,
      0 0 0px 0px rgba(255, 255, 255, 0.733);
  }
  10% {
    transform: scale(1, 1);
    box-shadow: 0 0 8px 6px rgba(216, 209, 209, 0.911), 0 0 12px 10px transparent,
      0 0 12px 14px rgba(216, 209, 209, 0.911);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(223, 231, 238, 0.788), 0 0 0px 40px transparent,
      0 0 0px 40px rgba(223, 231, 238, 0.788);
  }
}
@-moz-keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgb(153, 153, 153), 0 0 0px 0px transparent,
      0 0 0px 0px rgb(153, 153, 153);
  }
  10% {
    box-shadow: 0 0 8px 6px rgb(9153, 153, 153), 0 0 12px 10px transparent,
      0 0 12px 14px rgb(153, 153, 153);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent,
      0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
@keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgb(153, 153, 153), 0 0 0px 0px transparent,
      0 0 0px 0px rgb(153, 153, 153);
  }
  10% {
    box-shadow: 0 0 8px 6px rgb(153, 153, 153), 0 0 12px 10px transparent,
      0 0 12px 14px rgb(153, 153, 153);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent,
      0 0 0px 40px rgba(26, 140, 255, 0);
  }
}

.timer-value {
  width: 80vw;
  height: 80vw;
  background-image: url("../../../assets/img/timer.png");
  background-size: cover;
  position: relative;
  left: 0;
  right: 0;
  margin: 15px auto auto auto;
  padding-top: 39%;
  color:#FFF;
}

.set-interval-btn {
  display: block;
  margin: 0 25%;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

.full-page {
  min-height: 100%;
  min-width: 100%;
  font-family: "kiona";
}
.changetimeinterval{
  background-color: rgba(0,0,0,0) !important;
}
.title{
  font-family: "poppins-regular" !important;
  color: #FFF;
}
.sub-title{
  font-family: "poppins-regular" !important;
  color: #FFF;
}
.get-timer-btn, ion-text{
  color: #fff;
  font-family: 'kiona';
}
.change-timer{
  --border-style:none !important;
}

.disabled-div{
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
  }

.success-alert{
  width: 70vw;
  height: 50vw;
  background-color:black;
  border-radius: 20px;
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  color: white;
  z-index: 1000;

  .success-img{
    width: 25vw;
    height: 25vw;
  }
}
.sensed-data{
  border-radius: 5% 5% 0 0;
  background-color:rgba(0,0,0,0.75);
  height: 100%;
}
.sensor-data-title , .sensor-data{
  font-family: 'kiona';
  color: #FFF;
}
.icon-data{
  color: #FFF;
}

gl-background-video {
  z-index: -100!important;
}
