<ion-content class="content">
  <div class="ion-padding">
    <ion-toolbar class="toolbar">
      <button class="bars">
        <i class="fas fa-bars"></i>
      </button>
      <ion-searchbar searchIcon="none" showCancelButton="focus"></ion-searchbar>
      <button class="search">
        <i class="fas fa-search"></i>
      </button>
    </ion-toolbar>
    <ion-card>
      <ion-item>
        <ion-label>Lorem Ispum</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <ion-row>
          <ion-col size="5">
            <ion-avatar>
              <img src="../../assets/img/3.jpg" />
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            This is content, without any paragraph or header tags, within an
            ion-card-content element.
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Lorem Ispum</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        <ion-row>
          <ion-col size="5">
            <ion-avatar>
              <img src="../../assets/img/6.jpg" />
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            This is content, without any paragraph or header tags, within an
            ion-card-content element.
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
