<ion-content class="content" >
  <div padding>
    <ion-toolbar>
      <ion-buttons slot="start" class="mr-4">
        <ion-icon name="compass" (click)="toggleview()"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!isSearchBarOpened"
          (click)="isSearchBarOpened = true"
        >
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar
        *ngIf="isSearchBarOpened"
        showCancelButton="true"
        (ionCancel)="isSearchBarOpened = false"
      ></ion-searchbar>
    </ion-toolbar>

    <!--    Location List view-->
    <div no-padding *ngIf="!isLoading && locationData.length > 0">
      <ion-card  class="ion-activatable" padding *ngFor="let location of locationData" (click)="viewLocation(location?.id, 'tabs/home')">
        <ion-item class="ion-text-wrap" no-padding no-margin>
          <ion-thumbnail slot="start">
            <img [src]="location?.imgUrl" *ngIf="location?.imgUrl" />
            <img src="../../assets/img/img_loading.gif" *ngIf="!location?.imgUrl" />
          </ion-thumbnail>
          <ion-label slot="end" class="card-details">
            <h4 no-margin no-padding class="card-recommendation-address">{{ location?.data.location.address }}</h4>
              <img src="../../assets/img/star_rating/{{ (location?.data.recommendation.rating).toString()+'.png' }}" style="width: 25%;position: relative;top: -3.5px;">
              <p class="card-recommendation-date">{{ location?.data.timeStamp.toDate() | date:'medium' }}</p>
            <p class="card-recommendation-text mt-1" text-justify *ngIf="location?.data.recommendation.text">
                {{ location?.data.recommendation.text }}
            </p>
              <p class="card-recommendation-text mt-1" text-justify *ngIf="!location?.data.recommendation.text" style="color: #e57373;">
                  No recommendation text.
              </p>
          </ion-label>
        </ion-item>
          <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
    <!--    Location List view-->

      <!--    Location List view loading-->
      <div no-padding *ngIf="isLoading">
          <ion-card padding >
              <ion-item class="ion-text-wrap" no-padding no-margin>
                  <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label slot="end" class="card-details">

                      <h4 no-margin no-padding class="card-recommendation-address">
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                      </h4>
                      <img src="../../assets/img/star_rating/loading.png" style="width: 25%;">
                      <p class="card-recommendation-date"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
                      <p class="card-recommendation-text mt-1" text-justify>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                      </p>
                  </ion-label>
              </ion-item>
          </ion-card>
          <ion-card padding >
              <ion-item class="ion-text-wrap" no-padding no-margin>
                  <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label slot="end" class="card-details">

                      <h4 no-margin no-padding class="card-recommendation-address">
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                      </h4>
                      <img src="../../assets/img/star_rating/loading.png" style="width: 25%;">
                      <p class="card-recommendation-date"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
                      <p class="card-recommendation-text mt-1" text-justify>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                      </p>
                  </ion-label>
              </ion-item>
          </ion-card>
          <ion-card padding >
              <ion-item class="ion-text-wrap" no-padding no-margin>
                  <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label slot="end" class="card-details">

                      <h4 no-margin no-padding class="card-recommendation-address">
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                      </h4>
                      <img src="../../assets/img/star_rating/loading.png" style="width: 25%;">
                      <p class="card-recommendation-date"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
                      <p class="card-recommendation-text mt-1" text-justify>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                      </p>
                  </ion-label>
              </ion-item>
          </ion-card>
      </div>
      <!--    Location List view loading-->

      <!--    Location List view loading-->
      <div no-padding *ngIf="!isLoading && locationData.length === 0">
          <ion-card padding >
              <ion-item class="ion-text-wrap" no-padding no-margin>
                  <ion-thumbnail slot="start">
                      <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label slot="end" class="card-details">

                      <h4 no-margin no-padding class="card-recommendation-address">
                          Sorry, No data found!
                      </h4>
                      <img src="../../assets/img/star_rating/loading.png" style="width: 25%;">
                      <p class="card-recommendation-date"><ion-skeleton-text style="width: 50%"></ion-skeleton-text></p>
                      <p class="card-recommendation-text mt-1" text-justify>
                          There are no data submitted by users. Please keep in touch with BackPacker. we will notify you when users submit the data.
                      </p>
                  </ion-label>
              </ion-item>
          </ion-card>
      </div>
      <!--    Location List view loading-->

  </div>

</ion-content>
