ion-toolbar{
  //color: #FFFFFF;
  //background-color: transparent!important;
  font-family: "kiona";
  background-image: url("../../assets/img/8_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

ion-content{
  font-family: "kiona" !important;
  background-image: url("../../assets/img/8_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.user-img{
  width:40vw;
  height: 40vw;
  border-radius: 50%;
  margin-top: 10vh;
}

