.content {
  height: 100%;
  background-image: url("../../assets/img/background_vid_login_poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "kiona";
}
ion-toolbar{
  font-family: "kiona";
  color : #FFF;
  font-size: 18px;
}
.ion-icon{
  font-size: 20px !important;
}
.user-img{
  width:40vw;
  height: 40vw;
  border-radius: 50%;
  margin-top: 10vh;
}
.profile-details{
  background-color:rgba(255,255,255,0.70);
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-radius:10px 10px 0 0;
}
ion-item{
  --border-color:rgba(0,0,0,0);
}
ion-label h2,ion-label p{
  font-family: 'poppins-regular';
}
ion-item ion-label{
  font-family: 'kiona';
}